@model ConfigurationManagement.Models.MAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationManagementSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationManagementSeq)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountSeq">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
