@model ConfigurationManagement.Models.VConfigAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VConfigAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JissibiS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JissibiS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JissibiE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JissibiE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Share1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Share1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Share2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Share2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Share3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Share3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Share4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Share4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConfigurationManagementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
