@*@model IEnumerable<ConfigurationManagement.Models.MConfigurationManagement>*@
@model ConfigurationManagement.Helpers.PaginatedList<ConfigurationManagement.Models.MConfigurationManagement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="sort" class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].HostDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].HostType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Host)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ConfigurationManagementSeq">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ConfigurationManagementSeq">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ConfigurationManagementSeq">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>